---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro'
---

<Layout title="Delta Project">
	<main>
		<Header />
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
