---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import SectionOne from '@components/SectionOne.astro';
import SectionTwo from '@components/SectionTwo.astro';
import SectionThree from '@components/SectionThree.astro';
import SectionFour from '@components/SectionFour.astro'
---

<Layout title="Delta Project">
	<main>
		<Header />
		<SectionOne />
		<SectionTwo />
		<SectionThree />
		<SectionFour />
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
