---
const {content} = Astro.props
---
<a href="#" class="button">
    {content}
</a>
<style>
    .button {
        font-size: 1.8rem;
        font-weight: bold;
        border-radius: 32px;
        cursor: pointer;
        padding: 12px 32px;
        white-space: nowrap;
        text-decoration: none;
    }
    .button:visited {
        color: inherit
    }
</style>