<div class="logo">
    <div class="icon">
        <div class="blackBlock"></div>
        <div class="blueBlock"></div>
    </div>
    <div class="titleContianer">
        <p class="title">Delta</p>
    </div>
</div>
<style lang="css">
    .logo {
        display: flex;
        align-items: end;
        gap: 8px;
    }
    .icon {
        display: flex;
        align-items: end;
        gap: 4px;
        padding-bottom: 8px;
    }
    .blackBlock {
        height: 36px;
        width: 12px;
        background-color: var(--logo-black);
        border-radius: 8px;
    }
    .blueBlock {
        width: 12px;
        height: 20px;
        background-color: var(--logo-blue);
        border-radius: 8px;
    }
    .title {
        font-size: 3.2rem;
        font-weight:bold
    }
</style>
