---
const links = ["Home", 'Resources', 'Enterprise', 'Pricing', 'Contact']
---
<ul class="options">
    {links.map((link)=>{
        return (
            <li class="link">
                {link}
            </li>
        )
    })}
</ul>
<style lang="css">
    .options {
        list-style: none;
        display: flex;
        gap: 4rem;
        font-size: 1.6rem;
    }
    .link {
        cursor: pointer;
    }
    .link:hover {
        color: var(--grey)
    }
    @media (max-width: 768px) {
        .options {
            display: none;
        }
    }
</style>