---
import Logo from "@components/header/Logo.astro";
import Options from "@components/header/Options.astro";
---
<header class="header">
    <nav class="navbar">
        <Logo />
        <Options/>
    </nav>
</header>
<style lang="css">
    .header {
        width: 100%;
    }
    .navbar {
        max-width: 1440px;
        display: flex;
        justify-content: space-evenly;
    }
</style>