---
import Logo from "@components/header/Logo.astro";
import Options from "@components/header/Options.astro";
import {Icon} from "astro-icon";
---
<header class="header">
    <nav class="navbar">
        <Logo />
        <Options/>
        <div class="buttonContainer">
            <a href="#" class="button">
                Sign In
            </a>
            <a href="#" class="button border">
                Sign Up
            </a>
        </div>
        <Icon name="mdi:menu" width="40" class="menu" />
    </nav>
</header>
<style lang="css">
    .header {
        width: 100%;
        padding: 40px 4rem;
    }
    .navbar {
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        margin: 0 auto;
    }
    .buttonContainer {
        display: flex;
        gap: 12px;
    }
    .button {
        font-size: 1.8rem;
        font-weight: bold;
        border-radius: 32px;
        cursor: pointer;
        padding: 12px 32px;
        white-space: nowrap;
        text-decoration: none;
    }
    .button:visited {
        color: inherit
    }
    .border {
        border: 2px solid var(--logo-black);
    }
    .menu {
        display: none
    }
    @media (max-width: 426px) {
        .menu {
            display: block;
        }
        .buttonContainer {
            display: none;
        }
    }
</style>
<script>
    const hola = "hola";
</script>