---
import Logo from "@components/header/Logo.astro";
import Options from "@components/header/Options.astro";
---
<header class="header">
    <nav class="navbar">
        <Logo />
        <Options/>
        <div class="buttonContainer">
            <a href="#" class="button">
                Sign In
            </a>
            <a href="#" class="button border">
                Sign Up
            </a>
        </div>
    </nav>
</header>
<style lang="css">
    .header {
        width: 100%;
    }
    .navbar {
        max-width: 1440px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 12px;
    }
    .buttonContainer {
        display: flex;
    }
    .button {
        font-size: 1.8rem;
        font-weight: bold;
        border-radius: 32px;
        cursor: pointer;
        padding: 12px 32px;
        white-space: nowrap;
        text-decoration: none;
    }
    .button:visited {
        color: inherit
    }
    .border {
        border: 2px solid var(--logo-black);
    }
</style>