<section class="section-container">
  <div class="newsletter">
    <div class="join">
      <p>Join Our Community</p>
    </div>
    <div class="titleContainer">
      <h2 class="subscribe">Subscribe To Our Newsletter</h2>
    </div>
    <div class="newsletter-body-container">
        <p class="newsletter-body">But I must explain to you how all this mistaken idea of denouncing pleasure and prising pain was born.</p>
    </div>
  </div>
</section>
<style lang="css">
  .section-container {
    background-color: var(--light-grey);
    padding: 4rem 0;
  }
  .newsletter {
    width: 100%;
    max-width: 1440px;
    margin: 0 6rem;
    height: min-content;
    background-color: var(--body-blue);
    color: var(--white);
    border-radius: 16px;
    text-align: center;
  }
  .join {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 36px;
  }
  .subscribe {
    font-size: 3.6rem;
  }
  @media (max-width: 426px) {
    .newsletter {
      margin: 0;
    }
  }
  @media (min-width: 1526px) {
    .newsletter {
      margin: 0 auto;
    }
  }
</style>
