---
const prices = [
  {
    level: "Basic",
    price: "29.99",
    months: "Per",
  },
  {
    level: "Professional",
    price: "69.00",
    months: "3",
  },
  {
    level: "Ultimate",
    price: "99.00",
    months: "12",
  },
];

import { Icon } from "astro-icon";
---

<section class="section-container">
  <div class="section-four">
    <div class="upperSection">
      <div class="section-name">
        <p>Pricing</p>
      </div>
      <div class="titleContainer">
        <h2 class="section-title shorter">
          Choose The Right Plan For Your Business
        </h2>
      </div>
      <div class="switch-container">
        <label class="form-switch">
          <span id="month" class="bold">Monthly</span>
          <input type="checkbox" />
          <i id="switch"></i>
          <span id="year" class="">Yearly</span>
        </label><!--for ios switch-->
        <p class="discount">20% Save</p>
      </div>
      <div class="prices-container">
        <div class="prices">
          {
            prices.map((price) => {
              return (
                <div class="grid-item">
                  <p class="level">{price.level}</p>
                  <div class="price">
                    <span>{price.price}</span>/{price.months} month
                  </div>
                  <div class="benefits-container">
                    <ul class="benefits">
                      <li class="benefit">
                        <Icon name="mdi:check" width="20" class="check"/>
                        <p>Unlimited Updates & Projects</p>
                      </li>
                      <li class="benefit">
                        <Icon name="mdi:check" width="20" class="check"/>
                        <p>Custom Permissions</p>
                      </li>  
                      <li class="benefit">
                        <Icon name="mdi:check" width="20" class="check"/>
                        <p>Custom Infrastructure</p>  
                      </li>  
                    </ul>  
                  </div>
                  <div class="save-container">
                    <div class="save">
                      Save 40%
                    </div>
                  </div>
                  <div class="button-container">
                    <button class="choose">Choose Plan</button>  
                  </div>
                </div>
              );
            })
          }
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .section-four {
    max-width: 1440px;
    margin: 0 4rem;
    height: min-content;
  }
  .switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 2rem auto 0 auto;
  }
  .switch-container p {
    background-color: var(--yellow);
    font-size: 1.6rem;
    padding: 5px 10px;
    margin: 0 28px;
    border-radius: 20px;
  }
  .bold {
    font-weight: bold;
  }
  /*switch styles start*/
  .form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .form-switch i {
    position: relative;
    display: inline-block;
    margin: 0 12px;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
  }
  .form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
  }

  .form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rbga(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
  }
  .form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px 2px 0);
  }
  .form-switch:active input:checked + i::after {
    transform: translate3d(16px, 2px, 0);
  }
  .form-switch input {
    display: none;
  }
  .form-switch input:checked + i {
    background-color: #4bd763;
  }
  .form-switch input:checked + i::before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
  }
  .form-switch input:checked + i::after {
    transform: translate3d(22px, 2px, 0);
  }
  /*switch styles end*/
  .discount {
    white-space: nowrap;
  }
  .prices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    place-content: center;
    gap: 40px;
    margin-bottom: 8rem;
  }
  .grid-item {
    text-align: left;
    border: 2px solid var(--light-grey);
    border-radius: 8px;
    color: black;
    font-family: sans-serif;
    font-size: 1.6rem;
    padding: 36px;
    display: flex;
    flex-direction: column;
    transition: all 0.2s;
  }
  .benefits {
    list-style: none;
  }
  .benefit {
    display: flex;
  }
  @media (min-width: 1526px) {
    .section-four {
      margin: 0 auto;
    }
  }
</style>
<script>
  const iosSwitch = document.querySelector("#switch");
  const month = document.querySelector("#month");
  const year = document.querySelector("#year");

  iosSwitch.addEventListener("click", () => {
    month.classList.toggle("bold");
    year.classList.toggle("bold");
  });
</script>
