---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--title-text: #0a0a0a;
		--logo-black: #0a0a0a;
		--logo-blue: #377cff;
		--body-blue: #0075ff;
		--white: #FFFFFF;
		--grey: #8b8b8b;
		--dark-grey: #4d4c4d;
		--margin-side: 160px;
		--margin-sections: 160px;
		--light-grey: #d7d7d7;
		--yellow: #fddc01;
		--blog-background: #eeefef;
	}
	* {
        margin: 0;
        padding: 0;
		box-sizing: border-box;
    }
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--white);
		font-size: 62.5%;
		scroll-behavior: smooth;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
	a {
		text-decoration: none;
		color: var(--logo-black);
	}
	a:visited {
		color: inherit;
	}
	.section-container {
        width: 100%;
        margin-bottom: 160px;
    }
	.upperSection {
        text-align: center;
    }
	.section-name {
		color: var(--grey);
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 36px;
	}
	.section-title {
        font-size: 3rem;
    }
	.button {
        font-size: 16px;
        background: transparent;
        border-radius: 32px;
        cursor: pointer;
        padding: 16px 32px;
        white-space: nowrap;
        text-decoration: none;
        border: none;
    }
	.blue {
        background-color: var(--body-blue);
        color: var(--white)
    }
	@media (max-width: 426px) {
		.section-container {
			margin-bottom: 80px;
		}
	}
	@media (min-width: 769px) {
        .section-title {
            font-size: 4rem;
        }
    }
    @media (min-width: 1048px) {
        .section-title {
            font-size: 6rem;
        }
    }
</style>
